<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Recipes</title>
</head>
<body>
    <div class="my_container">
        <div class="my_nav">
            <div id="carouselExample" class="carousel slide bg-dark">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{url_for('static', filename = 'img/slide3.jpeg')}}" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 i_height" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{url_for('static', filename = 'img/slide_1.jpeg')}}" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 i_height" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{url_for('static', filename = 'img/slide3.jpeg')}}" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 i_height" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <nav class="navbar" style="background-color: #ebeef1;">
                <div class="container-fluid">
                    <a class="navbar-brand">Welcome {{session['first_name']}}</a>
                    <div class="d-flex menu_nav">
                        <a class="btn btn-outline-secondary" href="/recipes/new" role="button">Create</a>
                        <diV>    
                            <a class="btn btn-outline-secondary" href="/destroy_session" role="button">Logout</a>
                        </diV>
                        
                    </div>
                </div>
            </nav>
        </div>
        <div class="my_body" style="flex-direction: column;">
            {% for recipe in recipes %}
            <div class="card" style="width: 100%; margin-bottom: 10px;">
                <div class="card-body">
                    <div class="d-flex flex-start align-items-center">
                        <div>
                            <h6 class="fw-bold text-primary mb-1">
                                Name - {{recipe.name}}
                            </h6>
                            <p class="text-muted small mb-0">
                                Posted By - {{recipe.users.first_name}} {{recipe.users.last_name}}
                            </p>
                            <p class="text-muted small mb-0">
                                Under - {{recipe.duration}}
                            </p>
                        </div>
                    </div>
                    <div class="small d-flex justify-content-start">
                        <a href="/recipes/{{recipe.id}}" class="d-flex align-items-center me-3">
                            <i class="far fa-thumbs-up me-2"></i>
                            <p class="mb-0">View recipe</p>
                        </a>
                        {% if session["email"] == recipe.users.email %}
                        <a href="/edit/recipes/{{recipe.id}}" class="d-flex align-items-center me-3">
                            <i class="fas fa-share me-2"></i>
                            <p class="mb-0">Edit</p>
                        </a>
                        <a href="/delete/{{recipe.id}}" class="d-flex align-items-center me-3">
                            <i class="fas fa-share me-2"></i>
                            <p class="mb-0">Delete</p>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script>
        // JavaScript to clear the textarea when the "Cancel" button is clicked
        document.getElementById('cancelButton').addEventListener('click', function() {
            document.getElementById('content').value = '';
        });
    </script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>
</html>