<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>Recipes</title>
</head>
<body>
    <div class="my_container">
        <div class="my_nav">
            <div id="carouselExample" class="carousel slide bg-dark">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{url_for('static', filename = 'img/slide3.jpeg')}}" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 i_height" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{url_for('static', filename = 'img/slide_1.jpeg')}}" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 i_height" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{url_for('static', filename = 'img/slide3.jpeg')}}" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 i_height" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <nav class="navbar" style="background-color: #ebeef1;">
                <div class="container-fluid">
                    <a class="navbar-brand">Welcome {{session['first_name']}}</a>
                    <div class="d-flex menu_nav">
                        <a class="btn btn-outline-secondary" href="/recipes/new" role="button">Create</a>
                        <diV>    
                            <a class="btn btn-outline-secondary" href="/destroy_session" role="button">Logout</a>
                        </diV>
                        
                    </div>
                </div>
            </nav>
        </div>

        {% for recipe in recipes %}
        <div class="my_body" style="flex-direction: column;">
            <div class="card" style="width: 100%; margin-bottom: 10px;">
                <div class="card-body">
                    <div class="d-flex flex-start align-items-center">
                        <div>
                            <h6 class="fw-bold text-primary mb-1">
                                Name - {{recipe.name}}
                            </h6>
                            <p class="text-muted small mb-0">
                                Posted By - {{recipe.owner.first_name}} {{recipe.owner.last_name}}
                            </p>
                            <p class="text-muted small mb-0">
                                Under - {{recipe.duration}}
                            </p>
                        </div>
                    </div>
                    <div class="small d-flex justify-content-start">
                        <a href="/recipes/{{recipe.id}}" class="d-flex align-items-center me-3">
                            <i class="far fa-thumbs-up me-2"></i>
                            <p class="mb-0">View recipe</p>
                        </a>
                        {% if session["email"] == recipe.owner.email %}
                        <a href="/edit/recipes/{{recipe.id}}" class="d-flex align-items-center me-3">
                            <i class="fas fa-share me-2"></i>
                            <p class="mb-0">Edit</p>
                        </a>
                        <a href="/delete/{{recipe.id}}" class="d-flex align-items-center me-3">
                            <i class="fas fa-share me-2"></i>
                            <p class="mb-0">Delete</p>
                        </a>
                        {% endif %}
                        <a href="#" class="d-flex align-items-center me-3">
                            <i class="fas fa-share me-2"></i>
                            <p class="mb-0" data-bs-toggle="collapse" data-bs-target="#collapseExample{{recipe.id}}" aria-expanded="false" aria-controls="collapseExample{{recipe.id}}">Comment ({{ recipe.comment | length }})</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="collapse" id="collapseExample{{recipe.id}}">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 col-lg-6" style="width: 100%;">
                        <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                            <div class="card-body p-4">
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <form action="/creat_note" method="POST">
                                        <input type="text" name = "note" id = "note" class="form-control" placeholder="Type comment..."/>
                                        <input type="hidden" name = "user_id" value="{{session['id']}}">
                                        <input type="hidden" name = "recipe_id" value="{{recipe.id}}">
                                        <input type="submit"  value = "Add a comment">
                                    </form>
                                </div>
                                {% for user, comment in zip(recipe.users_who_comment, recipe.comment) %}
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <p>{{comment.note}}</p>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-row align-items-center">
                                                    <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25" height="25" /> -->
                                                    <p class="small mb-0 ms-2">{{ user.first_name }} {{ user.last_name }}</p>
                                                </div>
                                                <div class="d-flex flex-row align-items-center">
                                                    <p class="small text-muted mb-0">Upvote?</p>
                                                    <i class="far fa-thumbs-up mx-2 fa-xs text-body" style="margin-top: -0.16rem;"></i>
                                                    <p class="small text-muted mb-0">3</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script>
        // JavaScript to clear the textarea when the "Cancel" button is clicked
        document.getElementById('cancelButton').addEventListener('click', function() {
            document.getElementById('content').value = '';
        });
        // document.getElementById('note').addEventListener('input', function() {
        //     var inputValue = document.getElementById('note').value;
        //     var submitLink = document.getElementById('submitLink');
        //     submitLink.href = "/creat_note/" + encodeURIComponent(inputValue);
        // });
    </script>
    
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>
</html>